body {
  background-color: #ffffff;
}
.navbar {
  background-color: #1f96f2;
  box-shadow: 0 1.5px 3px rgba(0,0,0,.24), 0 3px 8px rgba(0,0,0,.05);
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
  height: 50px;
  z-index: 2;
}
.wm-toc-pane {
  position: absolute;
  top: 0px;
  padding-top: 70px;
  height: 100%;
  min-width: 250px;
  max-width: 350px;
  z-index: 1;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  overflow: auto;
  margin-left: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  transition: margin-left 0.3s;
}
.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
  background-color: #1f96f2;
  color: white;
}
.wm-page-content img {
  max-width: 100%;
  display: inline-block;
  padding: 0px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0px auto 0px auto;
  }
.admonition.note { /* csslint allow: adjoining-classes */
  color: #0c5174;
  background-color: #b2e1f8;
  border-color: #bce8f1;
}  
.admonition.important { /* csslint allow: adjoining-classes */
  color: #116d05;
  background-color: #b5f6bb;
  border-color: #94fa9e;
  }

figure {
  max-width: 100%;
  padding: 0px; 
  background-color: #fff;
  border: 0px solid #ddd;
  border-radius: 4px; 
  margin: 10px auto 20px auto;
}

figcaption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

.wm-article-nav > a, .wm-article-nav > a:visited, .wm-article-nav > a:hover, .wm-article-nav > a:focus {
  color: #333;
  text-decoration: none;
  outline: none;
}

.wm-toctree a, .wm-toctree a:visited, .wm-toctree a:hover, .wm-toctree a:focus {
  color: #333;
  text-decoration: none;
  outline: none;
  }

.wm-toc-text {
  color: #333;
  display: block;
  padding: 4px;
  cursor: pointer;
}